.show-product {
  background-color: #ebd5ce;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8E716A;
  .card{
    background-color: #f9f3f1;
    border-radius: 8px;
    .img {
      height: 180px;
      width: 100%;
      max-height: 180px;
      border-radius: 8px;
      overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
      }
    }
  }
  .btn-primary {
    margin-top: 20px;
  }
}
