<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <%= link_to cart_path, class: "dropdown-item" do %>
      <i class="fa fa-cart-shopping"></i>
    <% end %>
  </div>

  <div class="footer-copyright">
    
  </div>
</div>
