<div id="<%= dom_id(restaurant) %>">
  <h2>
    <strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong>
  </h2>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>
</div>
