<div class="card-restaurant" id="<%= dom_id(user) %>">

  <div class="card-restaurant-infos">
    <h2><strong><%= link_to user.name, restaurant_path(user) %></strong></h2>
    <p><%= user.address %></p>
  </div>
</div>
